#start-btn
{
    width: 40%;
}
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
h1
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#textbox
{
    display: none;
}
.copy_right_footer
{
 position: fixed;
 bottom: 0px;
 width: 100%;
 text-align: center;
 background: rgba(255, 255, 255, 0.8);   
}
img
{
    padding: 10px;
    box-shadow: 0 6px 8px 0 rgba(2, 2, 2, 0.2);
}
img:hover
{
    border-radius: 140px;
}